head {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* LOGO */
.logo {
  float: left; /* Float the logo to the left side */
  padding: 3px; /* Add padding for spacing */
}

.logo img {
  width: 120px; /* Set the width of the logo */
  height: auto;
}

/* NAVBAR */
nav {
  background-color: #19a7ce;
  overflow: hidden; /* ---Clear floats within the navbar */
  padding: 8px 0;
  text-align: right;
  position: fixed; /* Menyimpan navbar tetap di atas */
  height: 83px;
  top: 0; /* Menyimpan navbar di bagian atas */
  left: 0;
  right: 0;
  z-index: 1;
}

.list-navbar ul {
  list-style-type: none;
  padding: 5px; /* buat atasnya elemen navbar */
  float: left; /* Float the navigation links to the right side */
  height: 33px; /* make navbar bigger */
}

ul li {
  display: inline-block; /* Display list items in a row */
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-right: 3px;
  padding: 12px 13px; /* Increase padding to make the navbar elements bigger */
  text-decoration: none;
  font-size: 20px; /* Increase font size */
  border: 3px solid transparent; /* Add a border to create a button-like effect */
  border-radius: 8px; /* Make the corners more rounded */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

li a:hover {
  background-color: #a4e2f4; /* Change background color on hover */
  color: black; /* saat dihover berubah warna */
}

/* CONTENT1 */
.content1 {
  display: flex; /* Use flexbox for side-by-side layout */
  justify-content: space-between; /* Space evenly between text and image */
  align-items: center; /* Center vertically */
  padding: 25px; /* Add padding for spacing */
  margin-top: 60px;
  z-index: 0;
}

/* TEXT-CONTENT1 */
.text-content1 {
  flex: 1; /* Allow the text container to grow and fill available space */
  padding: 20px; /* Add padding for spacing */
  text-align: left; /* Align text to the left */
  font-style: italic;
}

.text-content1 h1 {
  font-size: 45px; /* Adjust the title's font size */
  /* font-style: italic; */
}

/* IMAGE-CONTENT1 */
.image-content1 {
  padding: 20px; /* Add padding for spacing */
  text-align: right; /* Align the image to the right */
}

.image-content1 img {
  width: 400px;
  height: auto;
}

/* Phone Responsif */
@media screen and (max-width: 767px) {
  .content1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .text-content1 {
    padding: 10px;
    flex: 0; /* Allow the text container to grow and fill available space */
    text-align: center;
    font-style: italic;
    font-size: 16px;
  }

  .text-content1 h1 {
    font-size: 30px;
    margin: 10px;
  }

  .image-content1 {
    padding: 20px;
    text-align: center;
  }
}

/* Tablet Responsif */
@media screen and (max-width: 1024px) {
  .content1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .text-content1 {
    text-align: center;
  }

  .text-content1 h1 {
    font-size: 35px;
    margin: 6px;
  }

  .image-content1 {
    padding: 10px;
    text-align: center;
    margin-top: 22px;
  }
}

/* CONTENT2 - Slideshow container */
.content2 slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f6f1f1;
  box-sizing: border-box;
  height: 200px;
  position: fixed;
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
    height: 200px;
  }
  margin-top: 220px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 240px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0; /*NEW*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.dots-container {
  text-align: center;
  align-items: center;
  margin-top: 20px; /* Adjust this value as needed for vertical spacing */
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Tablet Responsif */
@media screen and (max-width: 1024px) {
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 66%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
}

/* CONTENT5 */
.content5 {
  display: flex;
  flex-direction: row; /* arah konten ke samping */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: grey;
  padding: 30px; /* padding for spacing  */
}

/* IMAGE-CONTENT5 */
.image-content5-tokped,
.image-content5-shopee,
.image-content5-buka,
.image-content5-lazada {
  display: inline-block;
  padding: 20px; /* padding for spacing */
  text-align: left;
  margin-right: 30px; /* add spacing between partner images */
}

.image-content5-tokped img,
.image-content5-shopee img,
.image-content5-buka img,
.image-content5-lazada img {
  width: 170px;
  height: auto;
}

/* Phone Responsif */
@media screen and (max-width: 767px) {
  .image-content5-tokped img,
  .image-content5-shopee img,
  .image-content5-buka img,
  .image-content5-lazada img {
    width: 110px;
    height: auto;
  }
  .content5 h1 {
    font-size: 30px;
  }

  .image-content5-tokped,
  .image-content5-shopee,
  .image-content5-buka,
  .image-content5-lazada {
    display: inline-block;
    padding: 10px; /* padding for spacing */
    margin: 10px; /* add spacing between partner images */
  }
}

/* Tablet Responsif */
@media screen and (max-width: 1024px) {
  .image-content5-tokped img,
  .image-content5-shopee img,
  .image-content5-buka img,
  .image-content5-lazada img {
    width: 110px;
    height: auto;
  }
}

footer {
  background-color: #19a7ce;
  color: #fff;
  padding: 20px 0;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  flex-direction: column; /*new*/
  align-items: flex-start; /* new-Mengatur agar elemen tampil di sebelah kiri */
  padding: 0 15px;
  text-align: left;
}

.footer-section h3 {
  font-size: 18px;
  margin-left: 5px;
  text-align: left;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  font-size: 15px;
  color: #fff;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin-left: 0px;
}

.footer-poin ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-poin li {
  margin-bottom: 5px;
  font-size: 15px;
  color: #fff;
  display: list-item;
  margin-left: 0;
  align-items: center;
}

.footer-poin ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin-left: 0px;
}

.list-footer a {
  list-style: none;
  padding: 0;
  align-items: left;
  text-align: left;
}

.contact-info {
  font-size: 15px;
  margin-top: 0px;
}

.contact-info li {
  display: flex;
  align-items: center;
}

.contact-info img {
  width: 27px;
  height: 27px;
  margin-right: 25px;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a img {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  width: 50px;
}

.download-icons {
  text-align: left;
  margin-top: 30px;
}

.download-icons a img {
  width: 113px;
  height: 34px;
  margin-right: 13px;
}

/* Phone Responsif */
@media screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .footer-section h3 {
    text-align: center;
    margin: 10px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .download-icons a img {
    width: 113px;
    height: 34px;
    margin: 5px;
  }

  .list-footer a {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .footer-poin ul {
    margin: 0;
    padding: 0;
  }

  .contact-info li {
    display: flex;
    justify-content: center;
  }
}

/* Tablet Responsif */
@media screen and (max-width: 1024px) {
  .download-icons {
    text-align: center;
    margin-top: 12px;
  }

  .download-icons a img {
    align-items: center;
    padding: 5px;
    width: 110px;
    height: 30px;
  }
}
